body {
  background-image: url(http://feelgrafix.com/data/background/background-16.jpg);
}
.header {
  border: 1px solid black;
  height: 100px;
  width: 960px;
  position: relative;
}

.emoji-box {
  border: 1px solid red;
  height: 250px;
  width: 400px;
  position: relative;
  top: 110px;
  left: 279px;
}

#content {
  text-align: center;
  font-size: 125px;
  margin-top: 45px;
}

.choice-box {
  border: 1px solid blue;
  height: 300px;
  width: 500px;
  position: relative;
  left: 230px;
  top: 130px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

button {
  border: 1px solid green;
  width: 200px;
  padding: 20px;
  height: 50px;
  border-radius: 12px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.answer-button-topL {
  margin-top: 75px;
  margin-right: 25px;
}

.answer-button-topR {
  margin-top: 75px;
  margin-left: 25px;
}

.answer-button-bottomL {
  margin-right: 25px;
}

.answer-button-bottomR {
  margin-left: 25px;
}
