body {
  background-color: #d9d9d9;
}

.header {
  /*border: 1px solid black;*/
  height: 60px;
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
}

.leftside {
  width: 55px;
  height: 570px;
  /*border: 1px solid pink;*/
  position: absolute;
  clear: both;
  top: 125px;
}

.rightside {
  width: 55px;
  height: 570px;
  /*border: 1px solid pink;*/
  position: absolute;
  right: 5px;
  clear: both;
  top: 125px;
}

span {
  text-align: center;
  font-size: 55px;
}

h1 {
  text-align: center;
  font-family: Frijole;
  color: #24dbc9;
}

.emoji-box {
  border: 1px solid #24dbc9;
  height: 170px;
  width: 300px;
  position: relative;
  top: 30px;
  left: 34.5%;
  clear: both;
  background-color: #e6e6e6;
  border-radius: 12px;
}

#content {
  text-align: center;
  font-size: 125px;
  margin-top: 10px;
}

.stats {
  /*border: 1px solid purple;*/
  width: 500px;
  height: 80px;
  position: relative;
  clear: both;
  left: 25%;
  top: 30px;
}

.stats p {
  text-align: center;
  font-size: 32px;
  font-family: Frijole;
  color: #24dbc9;
  line-height: 15px;
}

#high-score {
  font-size: 24px;
}

.choice-box {
  /*border: 1px solid blue;*/
  height: 210px;
  width: 500px;
  position: relative;
  left: 25%;
  top: 70px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  clear: both;
}

button {
  border: 1px solid #24dbc9;
  width: 400px;
  padding: 20px;
  padding-top: 10px;
  height: 36px;
  border-radius: 12px;
  font-size: 18px;
  font-family: Frijole;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #24dbc9;
    color: white;
}

button:active {
  background-color: #24dbc9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#one {
  margin-top: 10px;
}

#two {
  margin-top: 1px;
}

.submit {
  height: 30px;
  width: 10%;
  text-align: center;
  clear: both;
  position: relative;
  top: 72px;
  left: 30%;
}

.submit-button {
  border: 1px solid #24dbc9;
  border-radius: 12px;
  font-family: Frijole;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 132px;
}

.next {
  height: 30px;
  width: 10%;
  text-align: center;
  clear: both;
  position: relative;
  top: 43px;
  left: 44%;
}

.next-button {
  border: 1px solid #24dbc9;
  border-radius: 12px;
  font-family: Frijole;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 100px;
}


.restart {
  height: 30px;
  width: 10%;
  text-align: center;
  clear: both;
  position: relative;
  top: 13px;
  left: 55%;
}

.restart-button {
  border: 1px solid #24dbc9;
  border-radius: 12px;
  font-family: Frijole;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  width: 143px;
  clear: both;
}

/*.footer {
  height: 60px;
  width: 86%;
  position: relative;
  border: 1px solid orange;
  clear: both;
  bottom: -42px;
  left: 85px;
}*/

/*#bottom {
  letter-spacing: 35px;
}*/
