body {
  background-color: #d9d9d9;
}

.header {
  /*border: 1px solid black;*/
  height: 60px;
  width: 100%;
  position: relative;
}

.leftside {
  width: 55px;
  height: 570px;
  /*border: 1px solid pink;*/
  position: absolute;
  clear: both;
}

.rightside {
  width: 55px;
  height: 570px;
  /*border: 1px solid pink;*/
  position: absolute;
  right: 5px;
  clear: both;
}

span {
  text-align: center;
  font-size: 55px;
}

h1 {
  text-align: center;
  font-family: Frijole;
  color: #24dbc9;
}

.emoji-box {
  /*border: 1px solid red;*/
  height: 150px;
  width: 400px;
  position: relative;
  top: 30px;
  left: 29%;
  clear: both;
}

#content {
  text-align: center;
  font-size: 125px;
  margin-top: 0px;
}

.stats {
  /*border: 1px solid purple;*/
  width: 500px;
  height: 80px;
  position: relative;
  clear: both;
  left: 25%;
  top: 15px;
}

.stats p {
  text-align: center;
  font-size: 32px;
  font-family: Frijole;
  color: #24dbc9;
  line-height: 15px;
}

.choice-box {
  /*border: 1px solid blue;*/
  height: 300px;
  width: 500px;
  position: relative;
  left: 25%;
  top: 18px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  clear: both;
}

button {
  border: 1px solid #24dbc9;
  width: 498px;
  padding: 20px;
  height: 50px;
  border-radius: 12px;
  font-size: 20px;
  font-family: Frijole;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #24dbc9;
    color: white;
}

button:active {
  background-color: #24dbc9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#one {
  margin-top: 10px;
}

#two {
  margin-top: 1px;
}

/*.footer {
  height: 60px;
  width: 86%;
  position: relative;
  border: 1px solid orange;
  clear: both;
  bottom: -42px;
  left: 85px;
}*/

/*#bottom {
  letter-spacing: 35px;
}*/
